.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Encode Sans', sans-serif;
    &:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Encode Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    ul.text-number{
        list-style-type: decimal;
    }
    ul.text-point{
        list-style-type: disc;
    }
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}