.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    visibility: visible;
}

@keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(90%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(90%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  visibility: visible;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-90%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-90%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(7%);
  }
}
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  visibility: visible;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-90%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-90%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  visibility: visible;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(90%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(90%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@keyframes wishlist-ani {
  0%   {transform: scale(1);}
  25%  {transform: scale(.5);}
  50%  {transform: scale(1.2);}
  100% {transform: scale(1);}
}


// Xoay đều
.rotateme {
  -webkit-animation-name: rotateme;
          animation-name: rotateme;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.animated{
  animation-duration:1s;animation-fill-mode:both;
}