body{
    font-family: 'Be Vietnam', sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
    }
}
#site-header{
    background-color: transparent;
    border-bottom: unset;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    font-family: 'Be Vietnam', sans-serif;
    // box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
    #site-header-inner{
        height: 94px;
        width: 1100px;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    #site-logo{
        float: left;
        height: 100%;
        display: table;
        #site-logo-inner{
            height: 94px;
            display: table-cell;
            vertical-align: middle;
            position: relative;
            a{

                text-decoration: none;
                background-color: transparent !important;
                img{
                    width: 90%;
                    max-width: 125px;
                    transition: all .5s;
                }
            }
            &.logo-scroll{
                height: 75px;
                img{
                    width: 70%;
                }
            }

            .tooltiptext {
                visibility: hidden;
                // width: 120px;
                // background-color: #555;
                // font-weight: bold;
                width: 200%;
                color: #4f4f4f;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 90%;
                left: 50%;
                margin-left: -100%;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.menu-scroll{
        background: rgba(255,255,255,0.7);
        box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
        &.single{
            display: none;
        }
        #site-header-inner{
            height: 80px;
        }
        #site-logo{
            #site-logo-inner{
                height: 80px;
            }
        }
        #site-navigation-wrap{
            .menu{
                &>li{
                    height: 80px;
                    &>a{
                        font-size: 11px;
                        line-height: 75px;
                        color: #0909AD;
                        &:after{
                            background-color: #0909AD;
                        }
                        &:hover{
                            color:#0909AD;
                        }
                    }
                }

                ul{
                    li{
                        a.menu-link{
                            font-size: 12px;
                        }
                    }
                }
            }
            .menu-item-has-children{
                &:after{
                    top: 40%;
                }
            }
        }
    }
    #site-navigation-wrap {
        float: right;
        position: relative;
        // margin-right: -15px;
        .menu{
            list-style: none;
            margin: 0;
            padding: 0;
            &>li{
                float: left;
                position: relative;
                white-space: normal;
                display: table;
                height: 94px;
                transition: all .3s;
                &>a{
                    position: relative;
                    font-weight: 700;
                    font-size: 14px;
                    color: #fff;
                    padding: 0 20px;
                    text-decoration: none;
                    transition: all .3s;
                    display: table-cell;
                    vertical-align: middle;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 0;
                        left: 20%;
                        right: 25%;
                        bottom: 25%;
                        background: #fff;
                        transition: width .4s;
                    }
                    &:hover{
                        &:after {
                            width: 50%;
                            height: 2px;
                        }
                    }

                    &:hover{
                        color: #fff
                    }
                }
            }
        }
        .dropdown-menu {
            &>li{
                &>a{
                    &:after{
                        content: '';
                        position: absolute;
                        width: 0;
                        left: 20%;
                        right: 25%;
                        bottom: 25%;
                        background: #0909AD;
                        transition: width .4s;
                    }
                    &:hover{
                        &:after {
                            width: 50%;
                            height: 2px;
                        }
                    }

                    &:hover{
                        color: #fff
                    }
                    .nav-arrow {
                        padding-left: 8px;
                        line-height: 1;
                        .fa-chevron-down{
                            font-size: 10px;
                        }
                    }

                }
            }

            ul{
                li{

                    a.menu-link{
                        font-family: 'Be Vietnam', sans-serif;
                        display: block;
                        position: relative;
                        float: none;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.2em;
                        letter-spacing: 0.6px;
                        padding: 12px 15px;
                        text-transform: capitalize;
                        &:hover{
                            background-color: #f8f8f8;
                            color: #555;
                            border-bottom: 2px solid #0909AD;
                        }
                    }
                }
            }
        }

        .menu-item-has-children{
            .sub-menu{
                max-height: 0;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 9999;
                min-width: 200px;
                background-color: #fff;
                // border-top: 3px solid #276AE6;
                line-height: 1;
                text-align: left;
                -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                padding-inline-start: 0;
                transition: all .5s;
                overflow: hidden;

                li.menu-item{
                    display: block;
                    float: none;

                    a{
                        text-decoration: none;
                        color: #0909AD;
                        font-family: 'Encode Sans',sans-serif;
                        display: block;
                        position: relative;
                        float: none;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.2em;
                        letter-spacing: .6px;
                        padding: 12px 15px;
                        text-transform: capitalize;

                        &:hover{
                            background-color: #f8f8f8;
                            border-bottom: 2px solid #0909AD;
                        }
                    }
                }
            }

            &:hover{
                .sub-menu{
                    max-height: 500px;
                }
            }
            &:after{
                position: absolute;
                border-style: solid;
                border-width: 2px 2px 0 0;
                content: '';
                display: inline-block;
                height: .45em;
                right: 0;
                vertical-align: top;
                width: .45em;
                top: 44%;
                transform: rotate(135deg);
                color: #fff;
            }
            &:hover{
                &:after{
                    color: #fff
                }
            }
        }
    }
    .oceanwp-mobile-menu-icon{
        display: none;
        position: relative;
        color: #000;
        &.mobile-right{
            float: right;

        }
        a{
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 75px;
            text-decoration: none;
            .oceanwp-text{
                padding-left: 6px;
            }
        }
    }
    a.close {
        display: none;
        position: absolute;
        top: 14px;
        right: 14px;
        .close-icon-wrap {
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            -webkit-transition: opacity 0.15s linear;
            -moz-transition: opacity 0.15s linear;
            -ms-transition: opacity 0.15s linear;
            -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
        }
        .close-icon-inner{
            display: inline-block;
            width: 40px;
            height: 3px;
            background-color: #fff;
            border-radius: 3px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);

            &:after{
                display: inline-block;
                width: 40px;
                height: 3px;
                background-color: #fff;
                border-radius: 3px;
                content: '';
                display: block;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
    }
}

#category-menu{
    display: none;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
    transition: height .4s;
    // margin-bottom: 50px;
    z-index: 999999;
    overflow: hidden;
    .category-wrap{
        width: 1100px;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        height: 100%;
        .category{
            // width: 1200px;
            // max-width: 90%;
            // margin-right: auto;
            // margin-left: auto;
            ul{
                display: flex;
                list-style-type: none;
                padding-inline-start: 0;
                margin: 0;
                li{
                    margin-right: 20px;
                    line-height: 100px;
                    transition: all .2s;
                    a{
                        color: #276AE6;
                        transition: all .4s;
                        position: relative;
                        &:hover{
                            color: #f50057;
                            text-decoration: none;
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            width: 0;
                            left: 0;
                            bottom: -25%;
                            background: #f50057;
                            transition: width .4s;
                        }
                        &:hover{
                            &:after {
                                width: 100%;
                                height: 2px;
                            }
                        }
                    }
                }
            }
        }
        .blog-sub-menu{
            ul{
                list-style: none;
                text-align: right;
                li{
                    display: inline-block;
                    width: fit-content;
                    margin-right: 10px;
                    position: relative;
                    a{
                        line-height: 50px;
                        &#menu-search-btn{
                            color: #fff;
                            padding: 8px;
                            background-color: #276ae6;
                            border-radius: 50%;
                        }
                        &#hubspot-toggle{
                            padding: 10px 15px;
                            background-color: #276ae6;
                            border-radius: 10px;
                            color: #fff;
                            position: relative;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                    #hubspot-wrap{
                        height: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 110%;
                        left: calc(50% - 150px);
                        max-width: 300px;
                        width: fit-content;
                        background: linear-gradient(64.76deg,#5868e6 0,#5868e6 .01%,#276ae6 53.13%,#2ad8ff 100%);
                        border-radius: 10px;
                        text-align: left;
                        .form-hub{
                            padding: 20px 0;
                            .hbspt-form{
                                form{
                                    label{
                                        color: #fff !important;
                                        margin-bottom: 5px;
                                    }
                                    .hs-input{
                                        box-sizing: border-box;
                                        padding: 0 15px;
                                        min-height: 27px;
                                        border-radius: 15px;
                                        background-color: #f5f8fa;
                                        font-size: 16px;
                                        font-weight: normal;
                                        line-height: 22px;
                                        color: #33475b;
                                        border: 1px solid #cbd6e2;
                                        height: 40px;
                                        display: inline-block;
                                        max-width: 100%;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    .hs-form-field{
                                        margin: 10px auto;
                                        max-width: 90%;
                                    }
                                    .actions{
                                        text-align: center;
                                        margin-top: 20px;
                                        .hs-button{
                                            color: #fff;
                                            padding: 8px 13px;
                                            background-color: transparent;
                                            border: 1px solid #fff;
                                            border-radius: 15px;
                                            &:hover{
                                                cursor: pointer;
                                            }
                                            &:focus{
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &::before{
                            position: absolute;
                            bottom: 99%;
                            left: 47%;
                            content:"";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 15px solid #276ae6;
                        }
                        &.display{
                            height: auto;
                            overflow: unset;
                        }
                    }
                }
            }
        }
        .form-hub{
            width: 1000px;
            max-width: 100%;
            margin: auto;
            .test{
                display: flex;
                justify-content: space-between;
                .hs-form-field{
                    display: table;
                    height: 80px;
                    label{
                        display: table-cell;
                        vertical-align: middle;
                        padding-right: 10px;
                    }
                    .input{
                        display: table-cell;
                        vertical-align: middle;
                        .hs-input{
                            padding: 5px 10px;
                            border-radius: 3px;
                            background-color: #f5f8fa;
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 22px;
                            color: #33475b;
                            border: 1px solid #cbd6e2;
                        }
                    }
                }
                label{
                    font-size: 13px;
                    width: 130px;
                    color: #4d4f54;
                    display: block;
                    float: none;
                    width: auto;
                    font-weight: 500;
                    text-align: left;
                    line-height: 20px;
                    padding-top: 0;
                    margin-bottom: 4px;
                    .hs-form-required{
                        color: red;
                    }
                }
                .input{
                    input{
                        display: inline-block;
                        width: 90%;
                        max-width: 500px;
                        height: 30px;
                        padding: 5px 10px;
                        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 22px;
                        color: #33475b;
                        background-color: #f5f8fa;
                        border: 1px solid #cbd6e2;
                        box-sizing: border-box;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        -ms-border-radius: 3px;
                        border-radius: 3px;
                    }
                }
                .hs-submit{
                    .actions {
                        margin-top: 4px;
                        /* margin-bottom: 18px; */
                        padding: 17px 0px;
                        .hs-button{
                            background: #267ece;
                            border-color: #267ece;
                            color: #ffffff;
                            font-size: 14px;
                            font-family: arial, helvetica, sans-serif;
                            border-radius: 3px;
                            border-style: solid;
                            border-width: 1px;
                            padding: 12px 24px;
                            margin: 0;
                            cursor: pointer;
                            display: inline-block;
                            font-weight: 700;
                            line-height: 12px;
                            position: relative;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }
    &.sticky-category{
        position: fixed;
        width: 100%;
        top: 0;
        display: block;
        overflow: unset;
        .category{
            ul{
                li{
                    line-height: 80px;
                    a{
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}

@media (max-width: 48em ){
    #category-menu{
        display: none;
    }
    #site-header{
        &.menu-scroll{
            &.single{
                display: block;
            }
        }
        #site-navigation-wrap{
            // display: none;
            position: fixed;
            width: 100%;
            top: 0;
            right: -100%;
            background: rgba(0,0,0,.8);
            z-index: 100;
            .menu{
                &>li{
                    display: inline-block;
                    height: unset !important;
                    margin: 20px 0;
                    line-height: unset !important;
                    width: 80%;
                    &>a{
                        color: #fff;
                        font-size: 20px !important;
                        line-height: 10px !important;
                    }
                }
            }
            .menu-item-has-children{
                &:after{
                    top: 0 !important;
                    color: #fff !important;
                }
                .sub-menu{
                    position: relative;
                    background: transparent;
                    padding-left: 5%;
                    li.menu-item{
                        a{
                            color: #fff;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        .oceanwp-mobile-menu-icon{
            display: block;
        }
        #site-logo {
            #site-logo-inner {
                // height: 80px;
                a {
                    img {
                        max-height: 52px;
                        width: 82px;
                    }
                }
            }
        }
    }

}
@media (max-width: 812px ){

    #site-header{
        #site-navigation-wrap{
            // display: none;
        }
        .oceanwp-mobile-menu-icon{
            display: block;
        }
        #site-logo {
            #site-logo-inner {
                // height: 80px;
                a {
                    img {
                        max-height: 52px;
                        width: 82px;
                    }
                }
            }
        }
    }
}
