body{
    font-family: 'Encode Sans', sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
    }
}
#site-header{
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 20000;
    font-family: 'Encode Sans', sans-serif;
    #site-header-inner{
        height: 94px;
        width: 1100px;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    #site-logo{
        float: left;
        height: 100%;
        display: table;
        #site-logo-inner{
            height: 94px;
            display: table-cell;
            vertical-align: middle;
            position: relative;
            a{

                text-decoration: none;
                background-color: transparent !important;
                img{
                    width: 90%;
                    transition: all .5s;
                }
            }
            &.logo-scroll{
                height: 75px;
                img{
                    width: 70%;
                }
            }
            .tooltiptext {
                visibility: hidden;
                // width: 120px;
                // background-color: #555;
                // font-weight: bold;
                width: 200%;
                color: #4f4f4f;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 90%;
                left: 50%;
                margin-left: -100%;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.menu-scroll{
        // background: rgba(255,255,255,0.7);
        #site-navigation-wrap{
            .dropdown-menu{
                &>li{
                    height: 80px;
                    &>a{
                        font-size: 11px;
                        line-height: 75px;
                    }
                }

                ul{
                    li{
                        a.menu-link{
                            font-size: 12px;
                        }
                    }
                }
            }

        }
    }
    #site-navigation-wrap {
        float: right;
        position: relative;
        margin-right: -15px;
        .dropdown-menu {
            list-style: none;
            margin: 0;
            padding: 0;
            &>li{
                float: left;
                position: relative;
                white-space: normal;
                display: table;
                height: 94px;
                transition: all .3s;

                &>a{
                    position: relative;
                    font-weight: bold;
                    font-size: 14px;
                    // letter-spacing: 1px;
                    // text-transform: uppercase;
                    color: #276AE6;
                    padding: 0 20px;
                    // line-height: 94px;
                    // display: block;
                    text-decoration: none;
                    transition: all .3s;
                    display: table-cell;
                    vertical-align: middle;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 0;
                        left: 20%;
                        right: 25%;
                        bottom: 25%;
                        background: #F50057;
                        transition: width .4s;
                    }
                    &:hover{
                        &:after {
                            width: 50%;
                            height: 2px;
                        }
                    }

                    &:hover{
                        color: #c42d2d;
                    }
                    .nav-arrow {
                        padding-left: 8px;
                        line-height: 1;
                        .fa-chevron-down{
                            font-size: 10px;
                        }
                    }

                }
            }

            ul{
                li{

                    a.menu-link{
                        font-family: 'Encode Sans', sans-serif;
                        display: block;
                        position: relative;
                        float: none;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.2em;
                        letter-spacing: 0.6px;
                        padding: 12px 15px;
                        text-transform: capitalize;
                        &:hover{
                            background-color: #f8f8f8;
                            color: #555;
                            border-bottom: 2px solid #F50057;
                        }
                    }
                }
            }
        }

        .menu-item-has-children{
            .sub-menu{
                max-height: 0;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 9999;
                min-width: 250px;
                background-color: #fff;
                // border-top: 3px solid #276AE6;
                line-height: 1;
                text-align: left;
                -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                padding-inline-start: 0;
                transition: all .5s;
                overflow: hidden;

                li.menu-item{
                    display: block;
                    float: none;

                    a.menu-link{
                        text-decoration: none;
                        color: #555;

                        &:hover{
                            background-color: #f8f8f8;
                        }
                    }
                }
            }

            &:hover{
                .sub-menu{
                    max-height: 500px;
                }
            }
        }
    }
    .oceanwp-mobile-menu-icon{
        display: none;
        position: relative;
        color: #000;
        &.mobile-right{
            float: right;

        }
        a{
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 75px;
            text-decoration: none;
            .oceanwp-text{
                padding-left: 6px;
            }
        }
    }
    #mobile-fullscreen{
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        overflow-y: scroll;
        z-index: 100000;
        transition: width .5s;
        #mobile-fullscreen-inner {
            display: table;
            width: 100%;
            height: 100%;
        }
        a.close {
            position: absolute;
            top: 14px;
            right: 14px;
            .close-icon-wrap {
                display: inline-block;
                position: relative;
                width: 40px;
                height: 40px;
                -webkit-transition: opacity 0.15s linear;
                -moz-transition: opacity 0.15s linear;
                -ms-transition: opacity 0.15s linear;
                -o-transition: opacity 0.15s linear;
                transition: opacity 0.15s linear;
            }
            .close-icon-inner{
                display: inline-block;
                width: 40px;
                height: 3px;
                background-color: #fff;
                border-radius: 3px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);

                &:after{
                    display: inline-block;
                    width: 40px;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 3px;
                    content: '';
                    display: block;
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }
        }
        nav {
            display: table-cell;
            vertical-align: top;
            padding: 50px 0;
            text-align: center;
        }
        ul {
            list-style: none;
            margin: 0;
            color: #929292;
            padding-inline-start: 15%;

            &>li{
                &>a{
                    font-family: 'Encode Sans', sans-serif;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 1.2;
                    padding: 12px 0;
                    text-decoration: none;

                }
            }
            li{
                display: block;

                a{
                    display: block;
                    position: relative;
                    color: #fff;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    text-align: left;
                }
                .dropdown-toggle{
                    padding-left: 6px;
                    display: inline-block;
                    width: 26px;
                    padding-left: 5px;
                    text-align: center;
                    &::before{
                        content: "+";
                    }

                    &.dropdown-toggle-active{
                        &::before{
                            content: "-";
                        }
                    }
                }


            }
            &.sub-menu {
                max-height: 0;
                transition: max-height .4s;
                overflow: hidden;
                li {
                    a {
                        font-family: 'Encode Sans', sans-serif;
                        font-size: 18px;
                        padding: 3px 0;
                    }
                }

                &.main{
                    max-height: 240px;
                }
                .menu-item{
                    padding: 5px 0;
                }
            }
        }
        #mobile-search {
            max-width: 220px;
            margin: 10px auto 0;
            form{
                position: relative;
                input{
                    position: relative;
                    border: 0;
                    background-color: transparent;
                    border-bottom: 1px solid #666;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    border-radius: 0;
                    z-index: 2;
                    font-size: 20px;
                    padding: 4px 0;
                    color: #fff;
                    margin: 0;
                    text-align: center;
                    text-transform: uppercase;
                }

            }
            label{
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                cursor: text;
                -moz-opacity: .5;
                -webkit-opacity: .5;
                opacity: .5;
                z-index: 1;
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }
    // #category-menu{
    //     height: 0px;
    //     background-color: #F6F6F6;
    //     box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
    //     transition: height .4s;
    //     // margin-bottom: 50px;
    //     z-index: 99999;
    //     overflow: hidden;
    //     .category{
    //         width: 1200px;
    //         max-width: 90%;
    //         margin-right: auto;
    //         margin-left: auto;
    //         ul{
    //             display: flex;
    //             list-style-type: none;
    //             padding-inline-start: 0;
    //             margin: 0;
    //             li{
    //                 margin-right: 20px;
    //                 line-height: 100px;
    //                 transition: all .2s;
    //                 a{
    //                     color: #276AE6;
    //                     transition: all .4s;
    //                 }
    //             }
    //         }
    //     }
    //     &.sticky-category{
    //         position: fixed;
    //         width: 100%;
    //         top: 0;
    //         height: 80px;
    //         .category{
    //             ul{
    //                 li{
    //                     line-height: 80px;
    //                     a{
    //                         font-size: 0.8em;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}

@media (max-width: 48em ){

    #site-header{
        #site-navigation-wrap{
            display: none;
        }
        .oceanwp-mobile-menu-icon{
            display: block;
        }
        #site-logo {
            #site-logo-inner {
                // height: 80px;
                a {
                    img {
                        max-height: 52px;
                        width: 82px;
                    }
                }
            }
        }
    }

}
@media (max-width: 812px ){

    #site-header{
        #site-navigation-wrap{
            display: none;
        }
        .oceanwp-mobile-menu-icon{
            display: block;
        }
        #site-logo {
            #site-logo-inner {
                // height: 80px;
                a {
                    img {
                        max-height: 52px;
                        width: 82px;
                    }
                }
            }
        }
    }
}
