
.footer{
    width: 100%;
    background-color: #4F4F4F;
    font-family: 'Encode Sans', sans-serif;
    position: relative;
    z-index: 1000;
    .footer-wrap{
        max-width: 1366px;
        margin: 0 auto;
        padding: 20px 0;

        .pure-u-md-1-6.special{
            border-bottom: 1px solid #fff;
            padding-bottom: 20px;
        }

        .footer-widget{
            text-align: left;

            h3{
                color: #fff;
                font-size: 24px;
                font-family: 'Encode Sans', sans-serif;
            }
            ul{
                list-style-type: none;
                padding-inline-start: 0;
                li{
                    line-height: 30px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 12px;
                        font-family: 'Encode Sans', sans-serif;
                        letter-spacing: 0.5px;
                        font-weight: normal;
                    }
                }
            }

        }
    }
    .footer-contact{
        text-align: center;
        p{
            width: 110%;
            margin-left: -5%;
            font-size: 12px;
            color: #fff;
        }
        .logo{
            width: 100%;
        }
    }

    .footer-info{
        max-width: 1366px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        p{
            font-size: 12px;
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
            font-family: 'Encode Sans', sans-serif;
            letter-spacing: 0.5px;
        }

        .footer-search{
            position: relative;
            width: 80%;
            margin-left: auto;
            padding-bottom: 20px;
            input{
                position: relative;
                width: 100%;
                background-color: transparent;
                border: 2px solid #fff;
                border-radius: 3px;
                padding: 10px 0;
                color: #fff;
            }
            button{
                position: absolute;
                right: -1%;
                top: 0;
                padding: 0 12px;
                border: none;
                i{
                    color: #000;
                    line-height: 40px;
                }
            }
        }
    }
}
#button {
    display: inline-block;
    background-color: #0909ad;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 16px;
    right: 5px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    z-index: 99999;
    i{

        font-size: 1.5em;
        line-height: 40px;
        color: #fff;
    }
    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 48em){
    .footer{
        .footer-wrap{
            .pure-u-1-12{
                display: none;
            }
            .pure-u-md-1-6{
                border-bottom: 1px solid #fff;
            }
            .footer-contact{
                padding: 10px 0;
                border-bottom: 2px solid rgba(229, 229, 229, 0.5);
                p{
                    width: 100%;
                }
            }
        }
        .footer-info{
            .pure-u-1-12{
                display: none;
            }
            .pure-g{
                flex-direction: column-reverse;
            }
            .footer-search{
                width: 75%;
                margin-right: auto;
                input{

                }
            }
            .footer-info-content{
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 30px;
            }
        }
    }
}