body{
    font-family: 'Encode Sans', sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
    }
}
#site-header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    z-index: 20000;
    font-family: 'Encode Sans', sans-serif;
    #site-header-inner{
        width: 1100px;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    #site-logo{
        float: left;
        height: 100%;
        display: table;
        #site-logo-inner{
            height: 94px;
            display: table-cell;
            vertical-align: middle;
            position: relative;

            a{

                text-decoration: none;
                background-color: transparent !important;
                img{
                    width: 90%;
                    max-width: 100px;
                    transition: all .5s;
                }
            }
            &.logo-scroll{
                height: 75px;
                img{
                    width: 70%;
                }
            }
            .tooltiptext {
                visibility: hidden;
                // width: 120px;
                // background-color: #555;
                // font-weight: bold;
                width: 200%;
                color: #4f4f4f;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 90%;
                left: 50%;
                margin-left: -100%;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.menu-scroll{
        // background: rgba(255,255,255,0.7);
        #site-header-inner{
            height: 80px;
        }
        #site-logo{
            #site-logo-inner{
                height: 80px;
            }
        }
        #site-navigation-wrap{
            .menu{
                &>li{
                    height: 80px;
                    &>a{
                        font-size: 11px;
                        line-height: 75px;
                    }
                }

                ul{
                    li{
                        a.menu-link{
                            font-size: 12px;
                        }
                    }
                }
            }
            .menu-item-has-children{
                &:after{
                    top: 40%;
                }
            }
        }
    }
    #site-navigation-wrap {
        float: right;
        position: relative;
        // margin-right: -15px;
        .menu{
            list-style: none;
            margin: 0;
            padding: 0;
            &>li{
                float: left;
                position: relative;
                white-space: normal;
                display: table;
                height: 94px;
                transition: all .3s;
                &>a{
                    position: relative;
                    font-weight: 700;
                    font-size: 14px;
                    color: #276ae6;
                    padding: 0 20px;
                    text-decoration: none;
                    transition: all .3s;
                    display: table-cell;
                    vertical-align: middle;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 0;
                        left: 20%;
                        right: 25%;
                        bottom: 25%;
                        background: #f50057;
                        transition: width .4s;
                    }
                    &:hover{
                        &:after {
                            width: 50%;
                            height: 2px;
                        }
                    }

                    &:hover{
                        color: #c42d2d;
                    }
                }
            }
        }
        .dropdown-menu {
            &>li{
                &>a{
                    &:after{
                        content: '';
                        position: absolute;
                        width: 0;
                        left: 20%;
                        right: 25%;
                        bottom: 25%;
                        background: #F50057;
                        transition: width .4s;
                    }
                    &:hover{
                        &:after {
                            width: 50%;
                            height: 2px;
                        }
                    }

                    &:hover{
                        color: #c42d2d;
                    }
                    .nav-arrow {
                        padding-left: 8px;
                        line-height: 1;
                        .fa-chevron-down{
                            font-size: 10px;
                        }
                    }

                }
            }

            ul{
                li{

                    a.menu-link{
                        font-family: 'Encode Sans', sans-serif;
                        display: block;
                        position: relative;
                        float: none;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.2em;
                        letter-spacing: 0.6px;
                        padding: 12px 15px;
                        text-transform: capitalize;
                        &:hover{
                            background-color: #f8f8f8;
                            color: #555;
                            border-bottom: 2px solid #F50057;
                        }
                    }
                }
            }
        }

        .menu-item-has-children{
            .sub-menu{
                max-height: 0;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 9999;
                min-width: 250px;
                background-color: #fff;
                // border-top: 3px solid #276AE6;
                line-height: 1;
                text-align: left;
                -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                padding-inline-start: 0;
                transition: all .5s;
                overflow: hidden;

                li.menu-item{
                    display: block;
                    float: none;

                    a{
                        text-decoration: none;
                        color: #555;
                        font-family: 'Encode Sans',sans-serif;
                        display: block;
                        position: relative;
                        float: none;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.2em;
                        letter-spacing: .6px;
                        padding: 12px 15px;
                        text-transform: capitalize;

                        &:hover{
                            background-color: #f8f8f8;
                            border-bottom: 2px solid #f50057;
                        }
                    }
                }
            }

            &:hover{
                .sub-menu{
                    max-height: 500px;
                }
            }
            &:after{
                position: absolute;
                border-style: solid;
                border-width: 2px 2px 0 0;
                content: '';
                display: inline-block;
                height: .45em;
                right: 0;
                vertical-align: top;
                width: .45em;
                top: 44%;
                transform: rotate(135deg);
                color: #276ae6;
            }
            &:hover{
                &:after{
                    color: #c42d2d;
                }
            }
        }
    }
    .oceanwp-mobile-menu-icon{
        display: none;
        position: relative;
        color: #000;
        &.mobile-right{
            float: right;

        }
        a{
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 75px;
            text-decoration: none;
            .oceanwp-text{
                padding-left: 6px;
            }
        }
    }
    a.close {
        display: none;
        position: absolute;
        top: 14px;
        right: 14px;
        .close-icon-wrap {
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            -webkit-transition: opacity 0.15s linear;
            -moz-transition: opacity 0.15s linear;
            -ms-transition: opacity 0.15s linear;
            -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
        }
        .close-icon-inner{
            display: inline-block;
            width: 40px;
            height: 3px;
            background-color: #fff;
            border-radius: 3px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);

            &:after{
                display: inline-block;
                width: 40px;
                height: 3px;
                background-color: #fff;
                border-radius: 3px;
                content: '';
                display: block;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
    }
}

@media (max-width: 48em ){

    #site-header{
        #site-navigation-wrap{
            // display: none;
            position: fixed;
            width: 100%;
            top: 0;
            right: -100%;
            background: rgba(0,0,0,.8);
            z-index: 100;
            .menu{
                &>li{
                    display: inline-block;
                    height: unset !important;
                    margin: 20px 0;
                    &>a{
                        color: #fff;
                        font-size: 20px !important;
                        line-height: 1 !important;
                    }
                }
            }
            .menu-item-has-children{
                &:after{
                    top: 0;
                    color: #fff !important;
                }
                .sub-menu{
                    li.menu-item{
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
        a.close{
            display: block;
        }
        .oceanwp-mobile-menu-icon{
            display: block;
        }
        #site-logo {
            #site-logo-inner {
                // height: 80px;
                a {
                    img {
                        max-height: 52px;
                        width: 82px;
                    }
                }
            }
        }
    }

}
@media (max-width: 812px ){

    #site-header{
        #site-navigation-wrap{
            // display: none;
        }
        .oceanwp-mobile-menu-icon{
            display: block;
        }
        #site-logo {
            #site-logo-inner {
                // height: 80px;
                a {
                    img {
                        max-height: 52px;
                        width: 82px;
                    }
                }
            }
        }
    }
}
