.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:1000px;
    height:200px;
    .ca-wrapper{
        width:100%;
        height:100%;
        position:relative;
        .ca-item{
            position:relative;
            float:left;
            width:200px;
            height:100%;
            text-align:center;
            transition: width .5s;

            img{
                width: 100%;
                transition: all .1s;
            }
            .ca-item-main{
                padding:25px;
                position:absolute;
                // top:5px;
                // left:5px;
                // right:5px;
                // bottom:5px;
                background:#fff;
                overflow:hidden;
                // -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
                // -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
                // box-shadow:1px 1px 2px rgba(0,0,0,0.2);
            }
        }
    }
}


.ca-nav {
    span{
        width:25px;
        height:38px;
        background:transparent url(/images/arrows.png) no-repeat top left;
        position:absolute;
        top:50%;
        margin-top:-19px;
        left:0px;
        text-indent:-9000px;
        opacity:0.7;
        cursor:pointer;
        z-index:100;
        &.ca-nav-next{
            background-position:top right;
            left:auto;
            right:0px;
        }
        &:hover{
            opacity:1.0;
        }
    }
}