@media (max-width: 48em){
    .search-result-container{
        .post-box{
            .post-list{
                .highlight-post-box{
                    width: 100% !important;
                    height: auto;
                    .highlight-img{
                        position: relative;
                        height: auto;
                    }
                    .highlight-post-content{
                        position: relative;
                        height: auto;
                    }
                    .link{
                        position: relative;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 812px){
    #site-header{
        #site-navigation-wrap{
            transition: all .2s;
            position: fixed;
            top: 60px !important;
            margin-right: 0 !important;
            right: -100% !important;
            &.display{
                position: absolute !important;
                right: 0 !important;
                display: block !important;
                .topnav-cart{
                    display: none;
                }
                .sub-menu{
                    position: relative !important;
                    background-color: transparent !important;
                    margin-top: 15px !important;
                    padding-left: 7% !important;
                }
            }
        }
    }
    #search input[type="search"]{
        font-size: 20px !important;
    }
    #site-header{
        #site-header-inner{
            height: 60px !important;
        }
        #site-logo{
            #site-logo-inner{
                height: 60px !important;
            }
        }
        &.menu-scroll{
            #site-navigation-wrap{
                .menu{
                    &>li{
                        &>a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    // .hamburger-menu{
    //     top: 15px;
    // }
    #search{
        .primary-button{
            top: 15% !important;
        }
    }
}

@media screen and (max-width: 560px){
    .search-result-container{
        .post-box{
            .post-list{
                .highlight-post-box{
                    &.video-box{
                        width: 100%;
                        height: auto;
                        margin: 0 0 40px;
                    }
                }
            }
        }
    }

}