@mixin blueTitle {
    color: #276AE6;
    font-size: 2em;
    text-align: center;
}
@mixin redTitle {
    color: #F50057;
    font-size: 2em;
    text-align: center;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.mx-auto{
    margin-right: auto;
    margin-left: auto;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.center{
    text-align: center;
}
.right-align{
    text-align: right;
}
#vu-cta-button{
    display: block;
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1f4b9c;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 28px;
    margin: 0;
    z-index: 10000;
}

.hamburger-menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 300;

    .mobile-menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform .5s;

        &-line{
            width: 100%;
            height: 4px;
            background-color: #1f4b9c;
            transform-origin: right;
            transition: all .2s .2s;
        }
        &.close{
            transform: rotateZ(90deg);
            .menu-line-1{
                transform: rotateZ(-40deg);
            }
            .menu-line-2{
                opacity: 0;
            }
            .menu-line-3{
                transform: rotateZ(40deg);
            }
        }
    }
}

.search-btn{
    position: absolute;
    right: 50px;
    top: 13px;
    padding: 10px;
    font-size: 16px !important;
    color: #fff;
    background-color: #276ae6;
    line-height: 1 !important;
    border-radius: 50%;
}

#site-header{
    &.menu-scroll{
        .topnav-cart{
            top: 20px;
        }
    }
    .topnav-cart {
        position: absolute;
        right: -50px;
        top: 30px;
        ul{
            position: relative;
            margin: 0;
            list-style: none;
            li {
                float: left;
                cursor: pointer;
                margin-right: 5px;
                &.circle {
                    width: 35px;
                    height: 35px;
                    background: var(--btn);
                    border-radius: 50%;
                    background-color: #276AE6;
                    i{
                        padding-left: 10px;
                        padding-top: 9px;
                        font-size: 17px;
                        color: #fff;
                        &.fa-times{
                            padding-left: 12px;
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes loader-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

 @keyframes loader-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

.preloader-inner {
    border: 3px solid rgba(250, 250, 250, 0.25);
    border-left-color: #fff;
    border-right-color: #fff;
    -webkit-animation: loader-spin 1.2s infinite linear;
            animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 100px;
}
.search-result-container{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0 !important;
    .post-box{
        .post-list{
            width: 1100px;
            max-width: 85%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 40px;
            .category-heading{
                padding: 5px 20px;
                background-color: #276AE6;
                color: #fff;
                width: fit-content;
                letter-spacing: normal;
            }
            .child-box{
                position: relative;
                padding-bottom: 60px;
                margin-bottom: 40px;
            }
            .more{
                position: absolute;
                width: 100%;
                bottom: 0;
                text-align: center;
                a{
                    padding: 5px 20px;
                    border: 2px solid #276AE6;
                    background-color: transparent;
                    color: #276AE6;
                    transition: all .4s;
                    &:hover{
                        background-color: #276AE6;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
            .clearfix{
                padding-inline-start: 0;
                &:before {
                    display: table;
                    content: "";
                    line-height: 0;

                }
            }
            .highlight-post-box{
                position: relative;
                float: left;
                width: 250px;
                height: 100px;
                padding: 0;
                margin: 0 20px 20px 0;
                line-height: 1.5em;
                background: #fff;
                -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
                box-shadow: 0 0 5px rgba(0,0,0,.25);
                overflow: hidden;
                border-radius: 10px;
                &:first-child{
                    width: 250px;
                    height: 100px;
                }

                // .highlight-img{
                //     float: none;
                //     position: absolute;
                //     left: 0;
                //     top: 0;
                //     width: 100%;
                //     height: 41.09947644%;
                //     padding: 0;
                //     margin: 0;
                //     img{
                //         float: none;
                //         width: 100%;
                //         height: auto;
                //         max-width: none;
                //         padding: 0;
                //         margin: 0;
                //     }
                //     iframe{
                //         max-width: 100%;
                //     }
                // }
                .highlight-post-content{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    min-height: 70px;
                    background-color: #fff;
                    // height: 58.90052356%;
                    height: 100%;
                    .content-box{
                        margin: 0 20px 0;
                        .post-title{
                            font-weight: 500;
                            color: #1a304f;
                            .title{
                                font-size: 17px;
                                font-weight: normal;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 4;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                            }
                            &:hover{
                                text-decoration: none !important;
                                color: #276AE6;
                            }
                        }
                    }
                }
                .link{
                    position: absolute;
                    bottom: 0;
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 20px;
                    padding: 5px 0 0 0;
                    margin: 20px;
                    width: calc(100% - 44px);
                    line-height: 26px;
                    font-weight: 500;
                    .fa-wifi{
                        transform: rotate(45deg);
                        margin-right: 5px;
                        color: #4f4f4f;
                    }

                    a{
                        color: #4f4f4f;
                        font-weight: normal;

                        .fa-chevron-right{
                            display: block;
                            position: absolute;
                            top: 10px;
                            right: 0;
                            content: ">";
                            background: none;
                            font-size: 12px;
                            color: #1a304f;
                            height: auto;
                            width: auto;
                        }
                        &:hover{
                            color: #276AE6;
                            text-decoration: none;
                        }
                    }
                }

                &:hover{
                    box-shadow: 1px 2px 15px rgba(0,0,0,.15);
                    .link{
                        a{
                            color: #276AE6;
                            text-decoration: none;
                        }
                    }
                    .video-img{
                        transform: scale(1.1);
                    }
                }

            }

        }
    }
}

.search-result-container .post-box{
    overflow-y: auto;
}

#search {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(64.76deg, rgba(88, 104, 230, 1) 0%, rgba(88, 104, 230, 1) 0.01%, rgba(39, 106, 230, 1) 53.13%, rgba(42, 216, 255, 1) 100%);
    z-index: 9999999;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    color: #ffffff;
    background: transparent !important;
    font-size: 36px;
    padding-bottom: 15px;
    font-weight: 300;
    border-bottom: 2px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0px auto;
    outline: none;
}
#search input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}
#search input[type="search"]::-moz-placeholder {
    color: #ffffff;
}
#search input[type="search"]:-ms-input-placeholder {
    color: #ffffff;
}
#search input[type="search"]::-ms-input-placeholder {
    color: #ffffff;
}
#search input[type="search"]::placeholder {
    color: #ffffff;
}

#search .primary-button {
    position: absolute;
    top: 16.5%;
    right: 10%;
    background-color: #ffffff;
    color: #fd658f;
    width: 50px;
    height: 50px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    font-size: 20px;
    border-radius: 50%;
    margin-top: -30px;
    z-index: 999;
    border: none;
    outline: none;
    cursor: pointer;
}

#search button.close {
    cursor: pointer;
    outline: none;
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fd658f;
    background-color: #ffffff;
    border-color: transparent;
    opacity: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 36px;
}