.error-page{
    .intro{
        .title-wrap{
            width: 1100px;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;

            .title{
                text-align: center;
                font-size: 32px;
            }
            p{
                text-align: center;
            }
        }
    }
    .suggestion{

        .suggestion-wrap{
            width: 1100px;
            max-width: 90%;
            margin-right: auto;
            margin-left: auto;
            .suggest-box{
                text-align: center;
                padding: 20px;
                .img-box-wrap{
                    .img-box{
                        width: 100%;
                        margin-bottom: 10px;
                        img{
                            max-width: 80%;
                            margin-left: auto;
                            margin-right: auto;
                            &.onhover{
                                display: none;
                            }
                        }
                    }
                }
                .btn{
                    button{
                        text-align: center;
                        // width: 80px;
                        border: none;
                        padding: 5px 15px;
                        background: linear-gradient(180deg, #22C8FF 0%, #2D6AE6 100%);
                        border-radius: 5px;
                        color: #fff;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                &:hover{
                    cursor: pointer;
                    .img-box{
                        img{
                            &.onhover{
                                display: block;
                            }
                            &.nothover{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .popup{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 99999;
        .popup-wrap{
            display: table;
            height: 100%;
            .popup-box-wrap{
                display: table-cell;
                vertical-align: middle;
                .popup-box{
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: #fff;
                    position: relative;
                    max-height: 100vh;
                    overflow: auto;
                    display: block;
                    .img-box-wrap{
                        display: table;
                        height: 100%;
                        .img-box{
                            display: table-cell;
                            vertical-align: middle;
                            img{
                                width: 95%;
                                margin-right: auto;
                                margin-left: auto;
                            }
                        }
                    }
                    .suggest-content-wrap{
                        display: table;
                        height: 100%;
                        .suggest-content{
                            display: table-cell;
                            vertical-align: middle;
                            padding: 30px;
                            letter-spacing: normal;
                            p{
                                line-height: 1.5;
                            }
                        }
                    }
                    #close{
                        position: absolute;
                        right: 2%;
                        top: 2%;
                        color: #000;
                        font-size: 28px;
                        &:hover{
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .last-text{
        p{
            font-size: 24px;
            a{
                color: #22C8FF;
            }
        }
    }
}