#site-header{
    position: relative !important;
    &.menu-scroll{
        position: fixed !important;
        display: block !important;
    }
}
body{
    position: relative;
}
#header-banner{
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background-color: rgba(8, 129, 241, .7);
}

.category-name{
    height: 150px;
    width: 100%;
    background-color: #276AE6;
    .category-name-box{
        width: 1000px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        .title{
            line-height: 150px;
            color: #fff;
            font-size: 36px;
            font-weight: bold;
            i{
                margin-right: 10px;
                font-size: 30px;
            }
        }
    }
}
.breadcrumb{
    // margin-top: 95px;
    // height: 60px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.25);
    position: relative;
    z-index: 100;
    .breadcrumb-box{
        width: fit-content;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: table;
        height: 100%;
        ul{
            line-height: 3;
            list-style-type: none;
            padding-inline-start: 0;
            margin: 0;
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
            li{
                line-height: 60px;
                font-weight: bold;
                font-family: 'Be Vietnam', sans-serif;
                a{
                    color: #4F4F4F;
                    font-weight: normal;
                    &::after{
                        content: "\f0da";
                        font-family: FontAwesome;
                        margin: 0 20px;
                        &:hover{
                            text-decoration: none !important;
                            color: #4F4F4F !important;
                        }
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }
                &.breadcrumb_last{
                    font-weight: bold;
                }
            }
        }
    }
    &.category-breadcrumb{
        margin-top: 0;
        .breadcrumb-box{
            width: 1100px;
            max-width: 100%;
            text-align: left;
        }
    }
}
.blog{
    position: relative;
    width: 1000px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    .featured-img{
        max-height: 50vh;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .blog-box{
        // width: 1200px;
        // max-width: 90%;
        // margin-right: auto;
        // margin-left: auto;
        .container{
            // background-color: #F6F6F6;
            position: relative;
            padding: 0;
        }
        .blog-header{
            margin-bottom: 20px;
            .blog-post-title{
                text-align: center;
            }
            .blog-post-meta{
                width: 90%;
                max-width: 90%;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                justify-content: space-evenly;
                .social-share{
                    list-style: none;
                    margin: 0;
                    li{
                        display: inline-block;
                    }
                    &.sticky{
                        position: fixed;
                        left: calc(50% - 500px);
                        top: 30%;
                        padding-left: 0;
                        li{
                            display: block;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        .w-blog-list{
            width: 85%;
            margin: auto;
            font-family: 'Be Vietnam', sans-serif;
            text-align: justify;
            padding-top: 25px;
            h2{
                font-family: 'Be Vietnam', sans-serif;
                font-weight: 700;
                margin-top: 1.5em;
            }
            h3{
                font-family: 'Be Vietnam', sans-serif;
                font-weight: 600;
                margin-top: 1.5em;
            }
            h3{
                >*{
                    font-weight: 600 !important;
                }
                strong{
                    font-weight: 600 !important;
                }
            }
            p{
                font-size: 16px;
                line-height: 1.8;
                strong{
                    font-weight: 700 !important;
                }
                // a{
                //     color: #0909AD;
                //     &:hover{
                //         text-decoration: underline;
                //         color: #00BC70 !important;
                //     }
                //     strong{
                //         font-weight: 700 !important;
                //     }
                // }
            }
            ul{
                list-style: none;
                li{
                    line-height: 1.5;
                    margin-bottom: 5px;
                    &::before {
                        content: "\2022";
                        color: #0909AD;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                        font-size: 1.5em;
                        line-height: 1em;
                      }
                }
            }
            ol{
                li{
                    line-height: 1.5;
                    margin-bottom: 5px;
                }
            }
            iframe{
                max-width: 100%;
            }
            a{
                color: #0909AD;
                &:hover{
                    text-decoration: underline;
                    color: #00BC70 !important;
                }
                strong{
                    font-weight: 700 !important;
                }
            }
            &> strong{
                font-weight: 700 !important;
            }
            .wp-block-image{
                img{
                    border-radius: 10px;
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                    transition: all .5s ease-out;
                    &:hover{
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
                        transition: all .5s ease-in;
                        transform: scale(1.03);
                    }
                }
                figcaption{
                    font-style: italic;
                    text-align: center;
                }

            }

            blockquote{
                font-style: italic;
                padding: 1em 45px 1em 45px;
                margin: 0 0 1.5rem;
                border-left: 5px solid #0909AC;
                line-height: 1.5;
                background-color: rgba(0,0,0,.1);
                p{
                    margin: 0;
                }
            }
        }



    }
    .banner-qc{
        // position: absolute;
        // right: 0;
        // top: 25px;
        // width: 10%;
        img{
            max-width: 100%;
            // max-width: 155px;
            // max-height: 600px;
        }
        &.scroll{
            position: fixed;
            top: 95px;
        }
        &.stop-scroll{
            position: absolute;
            bottom: 620px;
            top: unset;
        }
    }
}
.author-box{
    width: 100%;
    margin: 30px auto;
    // border: 2px solid #f6f6f6;
    // border-radius: 10px;
    // box-shadow: 8px 8px 8px rgba(79, 79, 79, 0.25);
    // background-color: #f6f6f6;
    border-top: 1px solid #4f4f4f;
    // background-color: #fff;
    .author-wrap{
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 8px 8px 8px rgba(79, 79, 79, 0.25);
        background-color: #f6f6f6;
        .author-img{
            text-align: center;
            padding: 10px;
            display: table;
            height: 100%;
            .img-wrap{
                display: table-cell;
                vertical-align: middle;
                img{
                    width: 90%;
                    margin-top: 0;
                }
            }
        }
        .author-info{
            font-family: 'Be Vietnam', sans-serif;
            padding: 30px 40px 30px 15px;
            .author-name{
                font-size: 24px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0.5em;
                a{
                    color: #4F4F4F;
                }
            }
            p{
                line-height: 1.5;
                font-size: 12px;
                margin-bottom: 1.1em;
                text-align: justify;
            }
            a{
                button{
                    background: #F50057;
                    border-radius: 4px;
                    border: none;
                    padding: 10px 20px;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}
.related-post{
    background-color: #fff;
    margin-top: 80px;
    // padding-top: 40px;
    // border-top: 3px solid #9d9d9d;
    width: 1000px;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    // margin-bottom: 50px;
    position: relative;
    z-index: 10000;
    font-family: 'Be Vietnam', sans-serif;
    border-top: 1px solid #000;
    .related-post-intro{
        .title{
            text-align: left;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 2em;
        }
    }
    .related-post-content{
        .post-box{
            background: #FFFFFF;
            box-shadow: 4px 4px 4px rgba(79, 79, 79, 0.25);
            border-radius: 10px;
            margin: 0 5px 50px;
            .post-img{
                // height: 200px;
                max-height: 200px;
                overflow: hidden;
                border-radius: 10px;
                img{
                    width: 100%;
                    height: 100%;
                    transition: all .4s;
                }
            }
            .post-info-box{
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                // padding-bottom: 20px;
                font-family: 'Be Vietnam', sans-serif;
                .post-title{
                    font-weight: 500;
                    font-size: 20px;
                    text-align: left;
                    // min-height: 90px;
                    margin-bottom: 0;
                    margin-top: 20px;
                    color: #4F4F4F;
                }
                .post-info{
                    display: flex;
                    // justify-content: space-around;
                    list-style-type: none;
                    padding-inline-start: 0;
                    margin-inline-start: 0;
                    li{
                        font-size: 12px;
                        color: #fff;
                        text-align: left;
                        &.related-category-name{
                            padding: 5px 10px;
                            // background-color: #276AE6;
                            border-radius: 10px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            &:hover{
                .post-img{
                    img{
                        transform: scale(1.1,1.1);
                    }
                }
                *{
                    text-decoration: none;
                }
            }
        }
    }
}

.social-share{
    a{
        img{
            border-radius: 50%;
            &.twitter{
                background-color: #1DA1F2;
            }
            &.facebook{
                background-color: #3B559F;
            }
            &.ig{
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }
            &.linkedin{
                background-color: #0077B7;
            }
        }
    }
}

.pagination{
    .page-numbers{
        margin-right: 5px;
        color: #4f4f4f;
        font-weight: normal;
        &:hover{
            color: #276AE6;
            font-weight: bold;
        }
        &.current{
            color: #276AE6;
            font-weight: bold;
        }
    }
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 16px;
	position: relative;
}

.container--narrow {
	max-width: 960px;
}
.btn {
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
	text-decoration: none;
	color: #FFF;
	font-size: 1.19rem;
	padding: 12px 24px;
	border: none;
	outline: none;
}

.btn--blue {
	background-color: #0D3B66;
}

.btn--blue:hover {
	background: linear-gradient(rgb(13, 80, 143), #0D3B66);
}

.page-banner{
	padding-top: 50px;
}

.page-section {
	padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    .post-img-wrap{
        display: table;
        height: 100%;
        width: 100%;
        .post-img{
            display: table-cell;
            vertical-align: middle;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    p:last-of-type {
        margin-bottom: 0;
        text-align: right;
    }
}


@media (min-width: 530px) {

    .page-section {
        padding-top: 1.5rem;
        padding-bottom: 3.5rem;
    }
}

.page-section--white {
	background-color: #FFF;
}

.page-section--beige {
	background-color: #FAF0CA;
}

.post-item {
	border-bottom: 2px dotted #DEDEDE;
	padding-bottom: 1.7rem;
	margin-bottom: 1.7rem;
    padding-left: 5%;
    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
    }
}


.metabox {
	background-color: #FAF0CA;
	border-radius: 3px;
	padding: 10px 15px;
	display: inline-block;
	/* margin-bottom: 30px; */
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .07);

}

.metabox--position-up {
	position: absolute;
	top: 0;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

.metabox--with-home-link {
	padding: 0;
}

.metabox__main {
	padding: 10px 15px 10px 11px;
}

.metabox{
    p {
        margin: 0;
        font-size: .9rem;
        color: rgb(168, 146, 56);
    }
    a {
        color: rgb(168, 146, 56);
        text-decoration: none;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
    .metabox__blog-home-link {
        background-color: #0D3B66;
        color: #FFF;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 3px 0 0 3px;
        font-weight: normal;
        &:hover {
            text-decoration: none;
            background-color: rgb(11, 47, 81);
        }
    }
}

.headline--post-title a {
	color: #0D3B66;
	text-decoration: none;
}

.headline--post-title a:hover {
	text-decoration: underline;
}

.generic-content p, .generic-content li {
	font-size: 1.15rem;
}

.generic-content blockquote, .generic-content blockquote p {
	font-size: 1.5rem;
	font-style: italic;
}

.generic-content{
    h1 {
        font-size: 3.6rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 3.1rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 2.6rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 2.1rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h5 {
        font-size: 1.6rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h6 {
        font-size: 1.15rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

@media (min-width: 530px) {

	.generic-content{
        h1 {
            font-size: 6.25rem;
        }
        h2 {
            font-size: 5rem;
        }
        h3 {
            font-size: 3.125rem;
        }
        h4 {
            font-size: 2.4rem;
        }
        h5 {
            font-size: 1.9rem;
        }
        h6 {
            font-size: 1.15rem;
        }
    }
}

@media (max-width: 48em){
	.post-item{
		padding-left: 0;
	}
}

/* The progress container (grey background) */
.progress-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 6px;
    background: transparent;
    z-index: 99999;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 6px;
    background: #0909AD;
    width: 0%;
}