@media (max-width: 768px){
    .blog{
        .blog-box{
            #content{
                margin-left: unset;
            }
        }
    }
}
@media (max-width: 48em){
    #site-header{
        top: 0;
        position: fixed;
        width: 100%;
        #site-header-inner{
            height: 80px;
            #site-logo{
                #site-logo-inner{
                    height: 80px;
                }
            }
        }
    }
    #header-banner{
        display: none;
    }
    #category-menu{
        // display: none;
        height: 80px;
        margin-top: 80px;
        .category-wrap{
            .category{
                display: none;
            }
            .form-hub{
                .test{
                    .hs-submit{
                        .actions{
                            .hs-button{
                                font-size: 10px;
                                padding: 12px;
                            }
                        }
                    }
                }
            }
        }
        &.sticky-category{
            position: relative !important;
        }
    }
    .breadcrumb{
        display: none;
    }
    .blog {
        // margin-top: 50px;
        .blog-box {
            .blog-header{
                .blog-post-meta{
                    display: block;
                    .blog-post-meta-date{
                        display: block;
                        margin: 1em 0;
                    }
                    .blog-post-meta-author{
                        display: block;
                        margin: 1em 0;
                    }
                    .blog-post-meta-category{
                        display: block;
                        margin: 1em 0;
                    }
                    .read-time{
                        display: block;
                        margin: 1em 0;
                    }
                    .social-share{
                        display: block;
                        margin: 1em 0;
                        padding-left: 0;
                        &.sticky{
                            padding-left: 5%;
                            bottom: 16px;
                            top: unset;
                            z-index: 99999;
                            li{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            .blog-wrap{

            }
        }
        .banner-qc{
            display: none;
        }
    }
}