.banner{
    padding-top: 95px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    .banner-img{
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
        }
        .overlay-line{
            width: 100%;
            height: 5%;
            position: absolute;
            bottom: 0;
            background-color: #276AE6;
            z-index: 10;
        }
        .overlay-img{
            position: absolute;
            bottom: 0;
            right: 4%;
            z-index: 2;
            img{
                width: 800px;
            }
        }
        .overlay-text{
            width: 100%;
            position: absolute;
            left: 10%;
            top: 20%;
            .overlay-text-content{

                font-family: 'Encode Sans', sans-serif;
                .title{
                    font-size: 3.5em;
                    font-weight: bold;
                    color: #276AE6;

                }
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 14px;
                    padding: 10px 25px;
                    border: none;
                    border-radius: 5px;
                    background-color: #F50057;
                }
                p{
                    font-size: 1.1em;
                }
                .btn{
                    margin-top: 40px;
                    // margin-left: 8%;
                }
            }
        }
    }
}

.intro{
    background-color: #F6F6F6;
    background-image: url(/images/background-1.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
    padding: 40px 0;
    // margin: 50px 0 0 0;
    .intro-content{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Encode Sans', sans-serif;
        .blue-title{
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            @include blueTitle;
        }
        p{
            text-align: justify;
        }
    }

    &.first{
        margin-top: 60px;
        background: linear-gradient(0deg, rgba(39, 106, 230, 0.7), rgba(39, 106, 230, 0.7)), url(/images/archive-background-2.png);
        .title{
            color: #fff;
            text-align: center;
            margin-top: 0;
            font-size: 3em;
            margin-bottom: .4em;
        }
        .btn{
            text-align: center;
            display: block;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 14px;
                padding: 10px 25px;
                border: 2px solid #F50057;
                border-radius: 5px;
                background-color: #F50057;
                transition: all .4s;
                &:hover{
                    color: #fff;
                    background-color: #F50057;
                    border-color: #F50057;
                }
            }
        }
    }
}
.reason{
    margin-bottom: 100px;
    .reason-intro{
        font-family: 'Encode Sans', sans-serif;
        .red-title{
            @include redTitle;
        }
        p{
            max-width: 600px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .sub-title{
            text-align: center;
            color: #4F4F4F;
            font-weight: bold;
            font-size: 1.5em;
        }
    }
    .advantage{
        width: 1200px;
        max-width: 90%;
        .advantage-box{
            margin-top: 30px;
            font-family: 'Encode Sans', sans-serif;
            .advantage-img{
                height: 230px;
                img{
                    width: 200px;
                }
                .small-img{
                    margin-top: 25%;
                }
            }
            .title{
                font-weight: bold;
                font-size: 1.1em;
                text-align: center;
                line-height: 1;
            }
            p{
                text-align: justify;
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }
}

.additional{
    padding: 30px 0;
    margin: 0 0 50px;
    background: url(./images/ra-mat-dich-vu-seo-global.jpg) no-repeat center;
    background-size: cover;
    .additional-wrap{
        width: 1100px;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        .additional-content{
            text-align: center;
            .title{
                @include redTitle;
                margin: 0;
                font-size: 36px;
                text-transform: uppercase;
            }
            .sub-title{
                font-size: 24px;
                font-weight: bold;
            }
            a{
                margin: auto;
                display: block;
                width: fit-content;
                padding: 10px 30px;
                background-color: #F50057;
                color: #fff;
                transition: all .5s;
                border: 2px solid #F50057;
                border-radius: 5px;
                &:hover{
                    background-color: #F50057;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.deployment{
    margin-bottom: 100px;
    .deployment-intro{
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;

        font-family: 'Encode Sans', sans-serif;

        .blue-title{
            @include blueTitle;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            text-align: center;
            line-height: 1.5;
        }
    }

    .deploy{
        width: 1200px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        .deploy-box{
            .deploy-img{
                height: 129px;
            }
            .title{
                color: #000;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                line-height: 1;
                &.alert{
                    width: 110%;
                    text-align: left;
                }
            }
            p{
                text-align: justify;
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}

.refer{
    background-image: url(/images/background-2.png);
    background-color: #F6F6F6;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;

    .refer-content{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0;
        .refer-box{
            width: 30%;
            margin-left: 10%;
            text-align: justify;
            font-family: 'Encode Sans', sans-serif;
            h3{
                color: #4F4F4F;
                line-height: 1.5;
            }
            button{
                font-size: 14px;
                border: 2px solid #F50057;
                border-radius: 5px;
                font-weight: bold;
            }
            .btn-1{
                padding: 10px 15px;
                background-color: #F50057;
                color: #fff;
            }
            .btn-2{
                padding: 10px 30px;
                background-color: transparent;
                color: #F50057;
                transition: all .5s;
                &:hover{
                    background-color: #F50057;
                    color: #fff;
                }
            }
            .btn-group{
                display: flex;
                justify-content: space-around;
            }

        }
        .overlay-img{
            left: 40%;
            width: 60%;
            top: 10%;
            img{
                width: 100%;

            }
        }
    }
}
.seo{
    margin-bottom: 50px;
    .seo-intro{
        max-width: 620px;
        margin-right: auto;
        margin-left: auto;
        font-family: 'Encode Sans', sans-serif;
        .blue-title{
            @include blueTitle;
            width: 90%;
            margin-right: auto;
            margin-left: auto;

        }
        p{
            line-height: 1.5;
        }
    }
    .seo-step{
        max-width: 1100px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Encode Sans', sans-serif;

        .step{
            width: 35%;
            height: 160px;
            position: relative;
            p{
                position: absolute;
                right: 20%;
                top: 13%;
                font-size: 1.1em;
                font-weight: bold;
                color: #fff;
            }
            &:hover{
                cursor: pointer;

                img{
                    transform: scale(1.1,1.1);
                }
            }

            img{
                top: 24%;
                left: 10.5%;
                transition: all .5s;
            }
        }
        .seo-step-label{

            &-1{
                background-image: url(/images/seo-step-1.png);
                background-size: contain;
                background-repeat: no-repeat;

                #icon-seo-1-highlight{
                    display: none;
                }
            }
            &-2{
                background-image: url(/images/seo-step-2.png);
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: -1.5%;
                margin-right: -1.5%;
                #icon-seo-2-highlight{
                    display: none;
                }
            }
            &-3{
                background-image: url(/images/seo-step-3.png);
                background-size: contain;
                background-repeat: no-repeat;
                #icon-seo-3-highlight{
                    display: none;
                }
            }
        }
        #seo-step-1:checked{
            ~ .seo-step-label-1{
                background-image: url(/images/seo-step-highlight-1.png);
                #icon-seo-1{
                    display: none;
                }
                #icon-seo-1-highlight{
                    display: block;
                    transform: scale(1.1,1.1);
                }
            }
            ~ #seo-step-1-content{
                display: block;
            }

        }
        #seo-step-2:checked{
            ~ .seo-step-label-2{
                background-image: url(/images/seo-step-highlight-2.png);
                #icon-seo-2{
                    display: none;
                }
                #icon-seo-2-highlight{
                    display: block;
                    transform: scale(1.1,1.1);
                }
            }
            ~ #seo-step-2-content{
                display: block;
            }
        }
        #seo-step-3:checked{
            ~ .seo-step-label-3{
                background-image: url(/images/seo-step-highlight-3.png);
                #icon-seo-3{
                    display: none;
                }
                #icon-seo-3-highlight{
                    display: block;
                    transform: scale(1.1,1.1);
                }
            }
            ~ #seo-step-3-content{
                display: block;
            }
        }
    }
    .seo-step-content{
        max-width: 750px;
        margin-right: auto;
        margin-left: auto;
        font-family: 'Encode Sans', sans-serif;
        h3{
            font-size: 2.2em;
        }
        p{
            line-height: 2;
            &.note{
                text-align: center;
                margin-top: 30px;
            }
        }
        ul{
            list-style-type: none;
            padding-inline-start: 3%;
            li{
                line-height: 2;
            }
        }
        #seo-step-1-content{

            display: block;
            overflow: hidden;
            ul{
                list-style-type: disc;
            }
        }
        #seo-step-2-content{

            display: none;
            overflow: hidden;
        }
        #seo-step-3-content{

            display: none;
            overflow: hidden;
            ul{
                list-style-type: disc;
            }
        }
    }
    .mobile-seo-step{
        display: none;
    }
}
.result{
    background-color: #F6F6F6;
    padding: 30px 0;
    margin-bottom: 100px;
    .result-intro{
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        .blue-title{
            @include blueTitle;
            margin-bottom: 0;
        }
    }
    .result-slide{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        .brand-carousel{
            .owl-stage{
                .owl-item{
                    background-color: transparent;
                    .item{
                        min-height: 130px;
                        display: table;
                        margin: auto;
                        .brand-img{
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    &.active:after{
                        content: "";
                    }
                }
            }
            .owl-nav{
                span{
                    font-size: 54px !important;
                    color: #EF004A;
                    background-color: transparent;
                }
                .owl-prev{
                    position: absolute;
                    left: 0;
                    top: 25%;
                    // padding: 0 10px 15px 10px !important;
                    &:hover{
                        background-color: transparent;
                        outline: none;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .owl-next{
                    position: absolute;
                    right: 0;
                    top: 25%;
                    // padding: 0 10px 15px 10px !important;
                    &:hover{
                        background-color: transparent;
                        outline: none;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
            .owl-dots{
                display: none;
            }
        }
    }
}

.archive{
    background: url(/images/archive-background.png) no-repeat center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    margin-bottom: 50px;
    .archive-intro{
        position: relative;
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        .title{
            font-size: 2.2em;
            color: #fff;
            text-transform: uppercase;
        }
        p{
            font-size: 1.5em;
            color: #fff;
            margin-bottom: 0;
        }
    }
    .archive-content{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 40px;
        position: relative;
        font-family: 'Encode Sans', sans-serif;
        .archive-box{
            margin-bottom: 40px;
            .archive-icon{
                height: 60px;

                img{
                    // width: 40%;
                    height: 100%;
                }

            }

            .number{
                font-size: 2.5em;
                margin: 5px 0 0 0;
                font-weight: bold;
                color: #fff;
                &.alert{
                    width: 190%;
                    margin-left: -45%;
                }
            }
            p{
                color: #fff;
                // text-transform: uppercase;
                font-size: 14px;
            }
        }
    }

    .archive-overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(39, 106, 230, 0.7) 0.21%, rgba(39, 106, 230, 0.3) 35.94%, rgba(39, 106, 230, 0.3) 64.06%, rgba(39, 106, 230, 0.7) 100%)
    }
}

body.archive{
    padding: 0;
    margin-bottom: 0
}


.schedule{
    margin-bottom: 100px;
    .schedule-box{
        width: 100%;
        background-color: #F6F6F6;
        background-image: url(/images/background-3.png);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: cover;
        .schedule-intro{
            max-width: 700px;
            margin-right: auto;
            margin-left: auto;
            padding: 15px 0;
            line-height: 1.5;
            font-family: 'Encode Sans', sans-serif;

            .blue-title{
                @include blueTitle;

            }
        }

    }
    .schedule-step{
        width: 1366px;
        max-width: 90%;
        margin: 50px auto 0 auto;

        .schedule-step-wrap{
            position: relative;
            width: 444px;
            height: 444px;
            margin-left: auto;
            margin-right: auto;

            .schedule-step-box{
                // background-image: url(/images/schedule-step.png);
                // width: 125px;
                // height: 125px;
                // background-repeat: no-repeat;
                img{
                    transition: all .3s;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.07,1.07);
                    }
                    &.highlight{
                        display: none;
                    }
                }

                input[type="radio"]:checked +label{
                    img.highlight{
                        display:block;
                    }
                }
            }

            .schedule-step-1{
                top: 0.5%;
                left: 35%;
            }
            .schedule-step-2{
                right: 41.5%;
                top: 3%;
            }
            .schedule-step-3{
                top: 21%;
                right: 29%;
            }
            .schedule-step-4{
                right: 29%;
                top: 50%;
            }
            .schedule-step-5{
                bottom: 34.8%;
                right: 41.8%;
            }
            .schedule-step-6{
                bottom: 25.8%;
                left: 35%;
            }
            .schedule-step-7{
                left: 10%;
                bottom: 34.8%;
            }
            .schedule-step-8{
                left: 0%;
                bottom: 50%;
            }
            .schedule-step-9{
                left: 0%;
                top: 21%;
            }
            .schedule-step-10{
                top: 3%;
                left: 10%;
            }

        }

        .schedule-content{
            display: none;
            font-size: 16px;
            line-height: 1.5;
            font-family: 'Encode Sans', sans-serif;

            &#schedule-content-step-1{
                display: block;
            }

            .title{
                color: #4F4F4F;
                font-size: 1.5em;
            }
        }
    }
    .mobile-schedule-step{
        display: none;
        .accordion{
            font-size: 13px;
        }
    }
}

.employee{
    margin-bottom: 100px;
    .employee-intro{
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        .title{
            font-size: 2.2em;
            color: #4F4F4F;
            text-align: center;
        }
    }
    .employee-slide{
        width: 100%;

        .employee-carousel {
            margin: 2rem 0;
            position: relative;
            z-index: 100;
            max-width: 95%;
            width: 1000px;
            margin-left: auto;
            margin-right: auto;

            .owl-item{
                background-color: transparent;

                &.active{
                    &.center{
                        .item{
                            transform: scale(1.1);
                            .employee-info{
                                display: block;
                            }
                        }
                    }
                }

                .item{
                    transform: scale(0.8);
                    transition: all .4s;
                    opacity: 0.7;
                    margin: 10px;
                    text-align: center;
                    font-family: 'Encode Sans', sans-serif;
                    position: relative;

                    .employee-info{
                        display: none;
                        font-family: 'Encode Sans', sans-serif;
                        .employee-name{
                            color: #000;
                            font-weight: bold;
                            font-size: 1.3em;
                            text-align: center;
                            margin-bottom: 0.5em;
                        }
                        .position{
                            color: #000;
                            margin-top: 0;
                        }
                    }
                }
                &.active{
                    &:after{
                        content: "";
                    }
                    &.center{
                        .item{
                            // transform: scale(1.3,1.2);
                            opacity: 1;
                        }
                    }
                }
            }
            .owl-dots {
                .owl-dot{
                    &.active{
                        span{
                            background-color: #F50057;
                        }
                        &:after{
                            content: "";
                        }
                    }

                    &:hover{
                        span{
                            background-color: #F50057;
                        }
                    }
                }
            }
            .owl-nav{
                span{
                    font-size: 54px !important;
                    color: #EF004A;
                    background-color: transparent;
                }
                .owl-prev{
                    position: absolute;
                    left: 0;
                    top: 25%;
                    // padding: 0 10px 15px 10px !important;
                    &:hover{
                        background-color: transparent;
                        outline: none;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .owl-next{
                    position: absolute;
                    right: 0;
                    top: 25%;
                    // padding: 0 10px 15px 10px !important;
                    &:hover{
                        background-color: transparent;
                        outline: none;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .ca-container{
            height: 400px;
            width: 1200px;
            max-width: 90%;
            overflow: hidden;
            .ca-wrapper{
                transform: translateX(-150px);
                overflow: unset !important;
                .ca-item{
                    width: 300px;
                    // transform: translateX(-150px);

                    &:nth-child(3){
                        // width: 250px;
                        .ca-item-main{
                            img{
                                transform: scale(1.5,1.5);
                            }
                            .employee-info{
                                display: block;
                            }
                        }

                    }

                    .ca-item-main{
                        padding: 45px 15px;
                        .employee-info{
                            display: none;
                            font-family: 'Encode Sans', sans-serif;
                            .employee-name{
                                color: #4F4F4F;
                                font-weight: bold;
                                font-size: 1.3em;
                                text-align: center;
                                margin-bottom: 0.5em;
                            }
                            .position{
                                color: #4F4F4F;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
            .slide-overlay{
                z-index: 100;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 0, 0) 28.65%, rgba(255, 255, 255, 0) 70.31%, #fff 100%),
            }

            .ca-nav span{
                color: #000;
                left: 0;
                z-index: 1000;
                &.ca-nav-next{
                    right: 0;
                    left: auto;
                }
            }
        }
    }
    .employee-status{
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        .count{
            color: #F50057;
            font-size: 1.5em;
            font-weight: bold;
        }
        a{
            text-decoration: none;
            padding: 10px 15px;
            background-color: #F50057;
            border-radius: 4px;
            color: #fff;
            font-size: 14px;
        }
    }

}

.related-service{
    background: url(/new-images/content-intro-background.png) no-repeat center;
    background-size: cover;
    padding: 20px 0;
    margin-bottom: 40px;
    .container{
        width: 1100px;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Encode Sans', sans-serif;
        .first-intro{
            width: 700px;
            max-width: 85%;
            margin: 20px auto 50px;
            .title{
                color: #4f4f4f;
                font-size: 36px;
                text-align: center;
                color: #F50057;
            }
            .description{
                line-height: 1.5;
                text-align: center;
            }
        }
        .intro-box{
            text-align: center;
            margin: auto;
            padding: 20px;
            margin: 0 20px 20px;
            font-family: 'Encode Sans', sans-serif;
            transition: all .4s;
            img{
                max-width: 80%;
                height: 80px;
                transition: all .4s;
            }
            p{
                color: #4f4f4f;
            }
            &:hover{
                cursor: pointer;
            }

            &:hover{
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.faq{
    margin-bottom: 100px;
    .faq-wrap{
        width: 1100px;
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        font-family: 'Encode Sans', sans-serif;
        .faq-content{
            .title{
                // text-align: center;
                color: #276AE6;
                margin: 0;
            }
            p{
                line-height: 1.5;
            }
            ol{
                line-height: 1.5;
            }
        }
    }
}

.customer{
    .title{
        text-align: center;
        font-size: 2.2em;
        color: #276AE6;
    }
    .customer-slide{
        width: 100%;
        .ca-container{
            height: 430px;
            width: 1020px;
            max-width: 90%;
            margin-right: auto;
            margin-left: auto;
            .testimonial-carousel{
                .owl-stage{
                    .owl-item{
                        background-color: transparent;
                        .item{
                            img{
                                width: 80%;
                                margin: auto;
                                border-radius: 50%;
                            }
                            .customer{
                                background-image: url(/images/testimonial-background.png);
                                background-size: contain;
                                border-radius: 10px;
                                // box-shadow: -4px 4px 6px rgba(189, 189, 189, 0.25);
                                margin: 0 40px;
                                position: relative;
                                height: 420px;
                                .customer-comment{
                                    font-family: 'Encode Sans', sans-serif;
                                    color: #4F4F4F;
                                    text-align: justify;
                                    a{
                                        text-decoration: none;
                                        &:hover{
                                            strong{
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                                .customer-name{
                                    text-align: right;
                                    font-weight: bold;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                }
                            }
                        }
                        &.active:after{
                            content: "";
                        }
                    }
                }

                .owl-nav{
                    span{
                        font-size: 54px !important;
                        color: #EF004A;
                        background-color: transparent;
                    }
                    .owl-prev{
                        position: absolute;
                        left: 0;
                        top: 25%;
                        // padding: 0 10px 15px 10px !important;
                        &:hover{
                            background-color: transparent;
                            outline: none;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                    .owl-next{
                        position: absolute;
                        right: 0;
                        top: 25%;
                        // padding: 0 10px 15px 10px !important;
                        &:hover{
                            background-color: transparent;
                            outline: none;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
                .owl-dots{
                    display: none;
                }
            }
        }
    }
}

.vincent{
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;

    .vincent-box{
        display: table;
        height: 100%;
        .vincent-content{
            display: table-cell;
            vertical-align: middle;
            font-family: 'Encode Sans', sans-serif;
            .title{
                font-size: 2.2em;
            }
            .btn-group{
                display: flex;
                button{
                    width: 163px;
                    height: 48px;
                    border-radius: 4px;
                    background-color: transparent;
                    border: 1px solid #F50057;
                    transition: all .3s;
                    color: #F50057;
                    &:first-child{
                        margin-right: 10px;
                    }
                }

                a{
                    color: #F50057;
                    button.hover{
                        background-color: #F50057;
                        color: #fff;
                    }
                    &:hover{
                        button{
                            background-color: #F50057;
                            color: #fff;
                        }
                    }
                }
            }

        }
    }

    .vincent-wrap{
        img{
            width: 60%;
        }
    }
}
.form{
    width: 1000px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    // background-color: #04BDFF;
    // background-image: url(/images/form-background.png);
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding: 30px;
    .title{
        text-align: center;
        color: #276AE6;
        font-size: 2em;
    }
}