@media (max-width: 1900px){
    .banner{
        .banner-img{
            .overlay-img{
                // right: 10%;
                img{
                    width: 700px;
                }
            }
        }
    }
}
@media (max-width: 1700px){
    .banner{
        .banner-img{
            .overlay-text{
                h1{
                    font-size: 2.8em !important;
                }
            }
            .overlay-img{
                // right: 10%;
                img{
                    width: 650px;
                }
            }
        }
    }
}
@media (max-width: 1600px){
    .banner{
        .banner-img{
            .overlay-text{
                h1{
                    font-size: 2.5em !important;
                }
            }
            .overlay-img{
                // right: 10%;
                img{
                    width: 630px;
                }
            }
        }
    }
}
@media (max-width: 1500px){
    .banner{
        .banner-img{
            .overlay-text{
                h1{
                    font-size: 2.5em !important;
                }
            }
            .overlay-img{
                // right: 10%;
                img{
                    width: 600px;
                }
            }
        }
    }
}
@media (max-width: 1400px){
    .banner{
        .banner-img{
            .overlay-text{
                h1{
                    font-size: 2.2em !important;
                }
            }
            .overlay-img{
                // right: 10%;
                img{
                    width: 560px;
                }
            }
        }
    }
}
@media (max-width: 1300px){
    .banner{
        .banner-img{
            .overlay-text{
                h1{
                    font-size: 2.1em !important;
                }
            }
            .overlay-img{
                // right: 10%;
                img{
                    width: 510px;
                }
            }
        }
    }
}
@media (max-width: 1200px){
    .banner{
        .banner-img{
            .overlay-text{
                h1{
                    font-size: 2em !important;
                }
            }
            .overlay-img{
                // right: -15%;
                img{
                    width: 470px;
                }
            }
        }
    }
}


@media (max-width: 1024px){

    .banner{
        .banner-img{
            .overlay-text{
                h1{
                    font-size: 1.8em !important;
                }
            }
            .overlay-img{
                // right: -25%;
                img{
                    width: 420px;
                }
            }
        }
    }

    .seo{
        .seo-step{
            .step{
                img{
                    top: 21%;
                    width: 27%;
                }
            }
        }
    }
    .employee {
        .employee-slide {
            .ca-container {
                .ca-wrapper{
                    transform: unset;
                    .ca-item{
                        &:nth-child(2){
                            .ca-item-main {
                                img{
                                    transform: scale(1.5,1.5);
                                }
                                .employee-info{
                                    display: block;
                                }
                            }
                        }
                        &:nth-child(3){
                            .ca-item-main {
                                img{
                                    transform: unset;
                                }
                                .employee-info{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .result{
        .result-slide{
            .ca-container{
                width: 600px;
            }
        }
    }
}
@media (max-width: 960px){
    .banner{
        .banner-img {
            .overlay-text{
                h1{
                    font-size: 1.6em !important;
                }
            }
            .overlay-img {
                // right: -41%;
                img{

                    width: 380px;
                }
            }
        }
    }
}
@media (max-width: 860px){
    .banner{
        .banner-img {
            .overlay-text{
                h1{
                    font-size: 1.5em !important;
                }
            }
            .overlay-img {
                // right: -48%;
                img{

                    width: 350px;
                }
            }
        }
    }
}

@media (max-width: 812px){
    .banner {
        .banner-content-box {
            .banner-content {
                .content {
                    .title{
                        font-size: 2.5em;
                    }
                }
            }
        }
        .overlay-text{
            h1{
                font-size: 1.2em !important;
            }
        }
        .banner-img {
            .overlay-img {
                // right: -60%;
                img{

                    width: 300px;
                }
            }
            .overlay-text{
                .overlay-text-content {
                    .btn{
                        margin-left: initial;
                    }
                }
            }
        }

    }

    .seo{
        .seo-step{
            .step{
                img{
                    top: 17%;
                }
            }
        }
    }

    .archive {
        .archive-content {
            .archive-box {
                .number{
                    font-size: 2em;
                }
            }
        }

    }
    .schedule{
        .schedule-step{
            display: none;
        }
        .mobile-schedule-step{
            display: block;
        }
    }
    .employee {
        .employee-slide {
            .ca-container{
                width: 600px;
                .ca-wrapper{
                    transform: translateX(-150px);
                }
            }
        }
    }
    .customer{
        .customer-slide{
            .ca-container{
                width: 680px;
            }
        }
    }
}

@media (max-width: 48em){
    #site-header{
        #site-navigation-wrap{
            .menu{
                > li{
                    width: 80%;
                }
            }
            .menu-item-has-children{
                .sub-menu{
                    position: relative;
                    background-color: transparent;
                    padding-inline-start: 12%;
                }
            }
        }
    }
    .banner{
        .banner-img{
            height: 400px;
            background: url(/images/dich-vu-seo-banner.jpg) no-repeat center;
            background-size: cover;
            background-position: 92%;
            img{
                display: none;
            }
            .overlay-text{
                left: 0;
                top: 10%;
                .overlay-text-content{
                    width: 80%;
                    margin: auto;
                    text-align: center;
                    line-height: 1.5;
                    .title{
                        font-size: 2.5em !important;
                        margin-bottom: 0.5em;
                    }
                    p{
                        font-size: 0.9em;
                    }
                    a{
                        font-size: 10px;
                    }
                    .btn{
                        margin-top: 0;
                    }
                }
            }
            .overlay-img{
                display: none;
            }
        }
    }

    .intro{
        margin-top: 0 !important;
        .intro-content{
            .blue-title{
                width: 95%;
                font-size: 1.5em;
            }
            p{
                width: 85%;
                margin-right: auto;
                margin-left: auto;
                line-height: 1.5;
            }
        }
    }

    .reason{
        .reason-intro{
            .red-title{
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                font-size: 1.7em;
            }
            p{
                width: 85%;
                margin-right: auto;
                margin-left: auto;
                line-height: 1.5;
            }
            .sub-title{
                font-size: 1.2em;
                max-width: 80%;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .advantage{
            .advantage-box{
                .advantage-img{
                    height: initial;
                }
            }
        }
    }

    // .additional{
    //     .additional-wrap{
    //         .additional-content{
    //             .title{
    //                 font-size: ;
    //             }
    //         }
    //     }
    // }

    .deployment{
        .deployment-intro{
            .blue-title{
                width: 90%;
                font-size: 1.5em;
            }
            p{
                width: 85%;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .deploy {
            .deploy-box {
                .title.alert{
                    text-align: center;
                }
            }
        }
    }
    .refer{
        .refer-content{
            .refer-box{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                line-height: 1.5;
            }
            .overlay-img{
                display: none;
            }
        }
    }
    .seo{
        .seo-intro{
            .blue-title{
                font-size: 1.5em;
                width: 88%;
            }
            p{
                max-width: 85%;
                margin-right: auto;
                margin-left: auto;
                font-size: 0.8em;
                line-height: 1.5;
            }
        }
        .seo-step{
            display: none;
        }
        .seo-step-content{
            display: none;
        }
        .mobile-seo-step{
            display: block;
        }
    }

    .result{
        .result-intro{
            .blue-title{
                font-size: 1.5em;
            }
            p{
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .result-slide{
            .ca-container{
                width: 200px;
            }
        }
    }

    .archive{
        .archive-intro{
            .title{
                font-size: 1.5em;
            }
            p{
                font-size: 1em;
                line-height: 1.5;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .archive-content{
            .archive-box{
                .number{
                    font-size: 2em;
                }
            }
        }
    }

    .schedule{
        .schedule-box{
            .schedule-intro{
                .blue-title{
                    font-size: 1.5em;
                }
                p{
                    font-size: 12px;
                    width: 85%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
        .schedule-step{
            display: none;
        }
        .mobile-schedule-step{
            display: block;
        }
    }

    .employee{
        .employee-intro{
            .title{
                font-size: 1.5em;
            }
        }
        .employee-slide{
            .ca-container{
                width: 300px;
                .ca-wrapper{
                    transform: unset;
                    .ca-item{
                        &:first-child{
                            .ca-item-main{
                                .employee-info{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .customer{
        .title{
            font-size: 1.5em;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        .customer-slide{
            .ca-container{
                width: 340px;
            }
        }
    }
    .vincent{
        .vincent-wrap{
            img{
                width: 60%;
                margin-right: auto;
                margin-left: auto;
            }
            .vincent-box{
                .vincent-content{
                    .title{
                        text-align: center;
                        font-size: 1.5em;
                    }
                    .btn-group{
                        display: block;
                    }
                }
            }

        }
    }
    // .form{
    //     padding: 0;
    // }
}