@media (max-width: 48em){
    .sub-menu{
        &#sub-menu{
            display: none;
        }
    }
    .post-box{
        .post-list{
            .highlight-post-box{
                width: 100% !important;
                height: auto;
                .highlight-img{
                    position: relative;
                    height: auto;
                }
                .highlight-post-content{
                    position: relative;
                    height: auto;
                    width: 100% !important;
                }
                .link{
                    position: relative;
                }
            }
        }
    }

    .download-banner{
        .wrap{
            .logo-nocolor{
                width: 30%;
            }
            .download-intro{
                width: 100%;
            }
            .download-form{
                margin-right: auto;
                padding: 25px 30px 60px 30px;
            }
        }
        .banner-background{
            img{
                height: 100%;
            }
        }
    }

    .partner {
        .partner-slide {
            .ca-container{
                width: 800px;
            }
        }
    }
}

@media screen and (max-width: 860px){
    .featured{
        .featured-wrap{
            .featured-box{
                width: 48%;
                margin: 0 1% 28px;
            }
        }
    }
    .partner {
        .partner-slide {
            .ca-container{
                width: 600px;
            }
        }
    }
}

@media screen and (max-width: 560px){
    .featured{
        .featured-wrap{
            .featured-box{
                width: 100%;
                margin: 0 0 40px;
            }
        }
    }
    .post-box{
        .post-list{
            .highlight-post-box{
                &.video-box{
                    width: 100%;
                    height: auto;
                    margin: 0 0 40px;
                }
            }
        }
    }
    .partner {
        .partner-slide {
            .ca-container{
                width: 200px;
            }
        }
    }
}