#site-header{
    &.exception-menu{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    &.menu-scroll{
        background-color: #fff;
    }
}

#sub-menu{
    &.sub-menu{
        position: fixed;
        width: 100%;
        top: 95px;
        left: 0;
        background-color: transparent;
        z-index: 1000;
        transition: all .5s;
        .sub-menu-wrap{
            width: 1100px;
            max-width: 90%;
            margin-right: auto;
            margin-left: auto;
            list-style-type: none;
            display: flex;
            padding-inline-start: 0;
            li{
                position: relative;
                margin-right: 50px;
                .sub-menu-head{
                    color: #fff;
                    font-family: 'Encode Sans', sans-serif;
                    margin: 0;
                    font-weight: normal;
                }
                &:hover{
                    cursor: pointer;
                    ul{
                        // display: block;
                        max-height: 500px;
                    }
                }
                .dropdown-menu{
                    // display: none ;
                    position: absolute;
                    list-style-type: none;
                    padding-inline-start: 0;
                    top: 30px;
                    left: 0;
                    min-width: 200px;
                    max-width: 300px;
                    max-height: 0;
                    overflow: hidden;
                    background-color: #fff;
                    box-shadow: 0 4px 8px rgba(0,0,0,.15);
                    transition: max-height .5s;
                    &::before{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid #fff;
                        position: absolute;
                        top: -5px;
                        left: 10%;
                    }
                    .sub-menu-child{
                        width: 100%;
                        border: none;
                        padding: 8px 15px;
                        margin-bottom: 0;
                        color: #011c30;
                        font-size: 13px!important;
                        a{
                            color: #011c30;
                            font-size: 13px!important;
                        }
                        &:hover{
                            background-color: #1a304f;
                            a{
                                color: #fff;
                            }
                        }
                    }
                    &:hover{
                        // display: block;
                        max-height: 500px;
                    }
                }
            }
        }
        &.onscroll{
            background-color: #1a304f;
            top: 80px;
        }
    }
}
.hub{
    #sub-menu.sub-menu{
        background: url(https://content.cdntwrk.com/files/aHViPTIxOCZjbWQ9aXRlbWVkaXRvcmltYWdlJmZpbGVuYW1lPWl0ZW1lZGl0b3JpbWFnZV81YmQwODA2ODkzN2Q2LmpwZyZ2ZXJzaW9uPTAwMDAmc2lnPTY1OTk0ZjUyZTU4MWU5YWVhZDQ0ODFlNzdjOThjMmM1%22) no-repeat center;
    }
}

.banner-tong{
    // margin-top: 65px;
    position: relative;
    min-height: 60vh;
    .banner-title{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: table;
        // padding: 120px 0;
        background: url(https://content.cdntwrk.com/files/aHViPTIxOCZjbWQ9aXRlbWVkaXRvcmltYWdlJmZpbGVuYW1lPWl0ZW1lZGl0b3JpbWFnZV81YmQwODA2ODkzN2Q2LmpwZyZ2ZXJzaW9uPTAwMDAmc2lnPTY1OTk0ZjUyZTU4MWU5YWVhZDQ0ODFlNzdjOThjMmM1%22) no-repeat center;
        background-size: cover;
        .title{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            font-size: 40px;
        }
    }
    .banner-wrap{
        width: 800px;
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        .banner-content{
            padding: 20px 0;
            p{
                text-align: center;
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }
}

.featured{
    margin-top: 200px;
    .featured-wrap{
        width: 1100px;
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        &::before{
            display: table;
            content: "";
            line-height: 0;
        }
        &::after{
            clear: both;
            display: table;
            content: "";
            line-height: 0;
        }
        .featured-box{
            float: left;
            width: 23%;
            margin: 0 1%;
            .heading{
                font-family: Roboto,sans-serif;
                font-size: 17px;
                line-height: 28px;
                margin-bottom: 20px;
                color: #1a304f;
                font-weight: 600;
                display: inline-block;
                i{
                    font-size: 80%;
                    margin-left: 2px;
                    position: relative;
                    left: 0;
                }
                &:hover{
                    text-decoration: none;
                    color: #ce0058;
                }
            }
            .box{
                .img-box{
                    box-shadow: 0 0 5px rgba(0,0,0,.25);
                    background: #fff;
                    height: 300px;
                    margin-bottom: 20px;
                    .img-wrap{
                        max-height: 55%;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .title{
                        font-size: 17px;
                        margin: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #1a304f;
                        // margin-bottom: 0;
                        // margin-top: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 4;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                    }
                }
                .other-post{
                    border-left: 4px solid #ce0058;
                    .link{
                        background: #f1f3f4;
                        padding: 20px 10px;
                        display: block;
                        position: relative;
                        border-bottom: 1px solid #8591a1;
                        color: #1a304f;
                        .title{
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 20px;
                            margin-bottom: 20px;
                            margin-bottom: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                        }
                        .read-more{
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 20px;
                            margin-bottom: 20px;
                            margin-bottom: 0;
                        }
                        &:hover{
                            text-decoration: none;
                            background-color: #688298;;
                            color: #fff;
                            .read-more{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                .box{
                    .other-post{
                        border-color: #688298;
                    }
                }
            }
            &:nth-child(3){
                .box{
                    .other-post{
                        border-color: #d73379;
                    }
                }
            }
            &:nth-child(4){
                .box{
                    .other-post{
                        border-color: #38296f;
                    }
                }
            }
        }
    }
}

.heading-title{
    width: 1100px;
    max-width: 85%;
    margin: 50px auto;
    font-size: 36px;
    font-weight: bold;
}
.post-box{
    overflow: hidden;
    .post-list{
        width: 1100px;
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
        .category-heading{
            padding: 5px 20px;
            background-color: #276AE6;
            color: #fff;
            width: fit-content;
            letter-spacing: normal;
        }
        .child-box{
            position: relative;
            padding-bottom: 60px;
            margin-bottom: 40px;
        }
        .more{
            position: absolute;
            width: 100%;
            bottom: 0;
            text-align: center;
            a{
                padding: 5px 20px;
                border: 2px solid #276AE6;
                background-color: transparent;
                color: #276AE6;
                transition: all .4s;
                &:hover{
                    background-color: #276AE6;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .clearfix{
            padding-inline-start: 0;
            &:before {
                display: table;
                content: "";
                line-height: 0;

            }
        }
        .highlight-post-box{
            position: relative;
            float: left;
            width: 250px;
            height: 330px;
            padding: 0;
            margin: 0 20px 20px 0;
            line-height: 1.5em;
            background: #fff;
            -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
            box-shadow: 0 0 5px rgba(0,0,0,.25);
            overflow: hidden;

            .highlight-img{
                float: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 41.09947644%;
                padding: 0;
                margin: 0;
                img{
                    float: none;
                    width: 100%;
                    height: auto;
                    max-width: none;
                    padding: 0;
                    margin: 0;
                }
                iframe{
                    max-width: 100%;
                }
            }
            .highlight-post-content{
                position: absolute;
                bottom: 0;
                width: 100%;
                min-height: 70px;
                background-color: #fff;
                height: 58.90052356%;
                .content-box{
                    margin: 40px 30px 0;
                    .post-title{
                        font-weight: 500;
                        color: #1a304f;
                        .title{
                            font-size: 17px;
                            font-weight: normal;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 4;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                        }
                        &:hover{
                            text-decoration: none !important;
                            color: #276AE6;
                        }
                    }
                }
            }
            .link{
                position: absolute;
                bottom: 0;
                font-weight: 300;
                font-size: 14px;
                margin-bottom: 20px;
                padding: 5px 0 0 0;
                margin: 20px;
                width: calc(100% - 44px);
                line-height: 26px;
                font-weight: 500;
                .fa-wifi{
                    transform: rotate(45deg);
                    margin-right: 5px;
                    color: #4f4f4f;
                }

                a{
                    color: #4f4f4f;
                    font-weight: normal;

                    .fa-chevron-right{
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        content: ">";
                        background: none;
                        font-size: 12px;
                        color: #1a304f;
                        height: auto;
                        width: auto;
                    }
                    &:hover{
                        color: #276AE6;
                        text-decoration: none;
                    }
                }
            }
            &:first-child{
                width: 520px;
                height: 679px;
                .highlight-post-content{
                    .post-title{
                        .title{
                            font-size: 30px;
                            line-height: 1.5;
                            font-weight: bold;
                        }
                    }
                }
                .link{
                    border-top: 1px solid #4f4f4f;
                }
            }
            &.qc{
                .img-wrap{
                    height: 100%;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .qc-content-box{
                    position: absolute;
                    display: table;
                    height: 100%;
                    width: 90%;
                    top: 0;
                    left: 5%;
                    text-align: center;
                    .qc-content{
                        display: table-cell;
                        vertical-align: middle;
                        .title{
                            color: rgb(255, 255, 255);
                            font-size: 36px;
                            margin-top: 0;
                            margin-bottom: 36px;
                            text-align: center;
                            line-height: 1.5;
                            font-weight: bold;
                        }
                        a{
                            font-weight: 300;
                            font-size: 17px;
                            line-height: 24px;
                            margin-bottom: 20px;
                            padding: 12px 30px;
                            height: auto;
                            color: #ffffff;
                            background-color: #ce0058;
                            &:hover{
                                text-decoration: none !important;
                            }
                        }
                    }
                }
            }
            &.form{
                border: none !important;
                .img-wrap{
                    height: 100%;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .form-content-box{
                    position: absolute;
                    display: table;
                    height: 100%;
                    width: 90%;
                    top: 0;
                    left: 5%;
                    text-align: center;
                    // z-index: 10;
                    .form-content{
                        display: table-cell;
                        vertical-align: middle;
                        .title{
                            color: rgb(255, 255, 255);
                            font-size: 36px;
                            margin-top: 0;
                            margin-bottom: 36px;
                            text-align: center;
                            line-height: 1.5;
                            font-weight: bold;
                        }
                        a{
                            font-weight: 300;
                            font-size: 17px;
                            line-height: 24px;
                            margin-bottom: 20px;
                            padding: 12px 30px;
                            height: auto;
                            color: #ffffff;
                            background-color: #ce0058;
                            &:hover{
                                text-decoration: none !important;
                            }
                        }
                    }
                }
            }

            &.cta{
                padding: 30px 0;
                opacity: 1;
                width: 100%;
                // height: 100%;
                box-shadow: none;
                margin: 30px 0 50px;
                background: none;
                overflow: visible;
                position: relative;
                clear: both;
                display: block;
                &::before{
                    content: "";
                    background: #f1f3f4;
                    width: 200%;
                    height: 100%;
                    position: absolute;
                    left: -50%;
                    top: 0;
                }
                .highlight-img{
                    width: 50%;
                    height: 80%;
                    margin: 40px 0;
                    img{
                        height: 100%;
                    }
                }
                .highlight-post-content{
                    width: 45%;
                    height: 100%;
                    right: 0;
                    background-color: transparent;
                    .post-title{

                        .title{
                            font-size: 32px;
                            line-height: 1.5;
                            margin-left: 0;
                        }
                    }
                    .description{
                        line-height: 1.5;
                        font-size: 17px;
                    }
                    .link{
                        position: relative;
                        width: fit-content;
                        background: #a80a56;
                        color: #fff;
                        border: none;
                        font-weight: 300;
                        font-size: 17px;
                        line-height: 24px;
                        border-radius: 3px;
                        display: inline-block;
                        padding: 7px 45px;
                        margin-bottom: 0;
                        margin-right: auto;
                        margin-left: 0;
                        text-shadow: none;
                    }
                }
                &:hover{
                    box-shadow: none;
                }
                &::after{
                    display: none;
                }
            }

            &:hover{
                box-shadow: 1px 2px 15px rgba(0,0,0,.3);
                .link{
                    a{
                        color: #276AE6;
                        text-decoration: none;
                    }
                }
                .video-img{
                    transform: scale(1.1);
                }
            }

            &.video-box{
                // width: 32%;
                // margin: 0 calc(4%/6) 28px;
                // height: 450px;
                &:first-child{
                    width: 250px;
                    height: 330px;
                    .highlight-post-content{
                        .content-box{
                            .post-title{
                                .title{
                                    font-size: 1.2rem;
                                    line-height: 1.5;
                                    font-weight: bold;
                                }
                            }
                        }

                    }
                    .link{
                        border-top: 1px solid #4f4f4f;
                    }
                }

                .highlight-img{
                    .video-img{
                        transition: all .5s;
                    }
                }

                .highlight-post-content{
                    .content-box{
                        margin: 20px 30px 0;
                        .post-title{
                            .title{
                                font-size: 1.2rem;
                                line-height: 1.5;
                                font-weight: bold;
                                // min-height: 62px;
                            }
                        }
                        .description{
                            p{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 1.5;
                                -webkit-line-clamp: 3;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                text-align: justify;
                                margin-top: 0;
                            }
                        }
                    }
                }
                .link{
                    border-top: 1px solid #4f4f4f;
                }

                .link-wrap{
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                    &:hover{
                        cursor: pointer;
                    }
                }

                .time{
                    position: absolute;
                    display: block;
                    width: fit-content;
                    top: 3%;
                    left: 3%;
                    padding: 5px 10px;
                    border-radius: 1rem;
                    background-color: #fff;
                    z-index: 90;
                }
            }
        }

    }
}

.download-banner{
    // background: url(/images/ebook-banner-1.png) no-repeat center;
    position: relative;

    .banner-background{
        position: absolute;
        z-index: 90;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        img{
            height: 100%;
        }
    }
    .wrap{
        width: 1100px;
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        padding: 90px 0 20px;
        z-index: 100;

        .logo-nocolor{
            position: absolute;
            left: 0;
            top: 0;
            width: 8%;
            z-index: 101;
            img{
                width: 100%;
            }
        }
        .download-intro{
            width: 100%;
            margin-right: auto;
            color: #4f4f4f;
            font-family: 'Encode Sans', sans-serif;
            .sub-title{
                font-weight: bold;
                margin: 0;
            }
            .main-title{
                margin: 0;
                font-size: 48px;
            }
            .thumbnail-wrap{
                text-align: center;
                margin: 20px 0;
                img{
                    width: 60%;
                    height: auto;
                }
            }
            .video-content{
                color: #4f4f4f;
                p{
                    line-height: 1.5;
                }
                ul{
                    padding-inline-start: 4%;
                    margin-top: 0;
                }
                .author-intro{
                    font-size: 20px;
                    font-style: italic;
                }
            }

            .head-list{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0;
            }

        }
        .download-form{
            // background-color: #fff;
            width: fit-content;
            margin-left: auto;
            padding: 25px 50px 10px 50px;
            border-radius: 10px;
            .title{
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                color: #fff;
            }

            label{
                color: #4f4f4f;
                padding-left: 10px;
            }
            .submit-wrap{
                text-align: center;
            }

            input{
                width: 300px;
                max-width: 100%;
                height: 35px;
                margin-bottom: 25px;
                background: #FFFFFF;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                box-shadow: inset -5px 5px 4px rgba(189, 189, 189, 0.5);
                border-radius: 9px;
                padding-left: 10px;
                &[type=submit]{
                    width: fit-content;
                    border: none;
                    box-shadow: none;
                    border-radius: 4px;
                    background-color: #F50057;
                    color: #fff;
                    padding: 10px 50px;
                }
            }
        }
    }
}

.hs-error-msgs {
    label{
        color: yellow !important;
    }
}

.partner{
    background-color: #F6F6F6;
    padding: 30px 0;
    margin-bottom: 50px;
    .partner-intro{
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        .title{
            font-size: 1.2em;
            color: #4F4F4F;
            text-align: center;
            margin-bottom: 0;
            width: 800px;
            max-width: 85%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .partner-slide{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        .ca-container{
            height: 150px;
            .ca-nav{
                span{
                    left: -40px;
                    &.ca-nav-next{
                        right: -40px;
                        left: auto;
                    }
                }
            }
            .ca-wrapper{
                .ca-item{
                    .ca-item-main{
                        padding: 0 25px;
                        background-color: transparent;
                        .brand-img{
                            height: 150px;
                            line-height: 150px;
                            img{
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-wrap{
        text-align: center;
        a{
            padding: 10px 30px;
            border-radius: 4px;
            background-color: #F50057;
            color: #fff;
        }
    }
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;

    .modal-wrap{
        display: table;
        height: 100%;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        .modal-box-wrap{
            display: table-cell;
            vertical-align: middle;
            .modal-box{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                background-color: #fff;
                position: relative;
                max-height: 100vh;
                display: block;
                iframe{
                    width: 100%;
                    height: 85vh;
                }
                #close{
                    position: absolute;
                    left: 102%;
                    top: 0%;
                    color: #fff;
                    font-size: 28px;
                    &:hover{
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.more-info{
    position: relative;
    z-index: 1000;
    .more-info-wrap{
        width: 1100px;
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
        .title{
            font-size: 24px;
            color: #4f4f4f;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
        .info-wrap{
            text-align: center;
            padding: 0 20px;
            img{
                width: 70%;
            }
            .info-content{
                line-height: 1.5;
            }
        }

        .btn{
            text-align: center;
            display: block;
            a{
                color: #fff;
                padding: 15px 20px;
                border-radius: 5px;
                display: inline-block;
            }
        }
    }
}
.clearfix:after{
    clear: both;
    content: "";
    display: block;
}